/* All */
*{
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
        .header {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 10px 20px;
        }
        .header a {
            color: white;
            text-decoration: none;
        }
        nav ul {
            list-style: none;
            display: flex; 
            gap: 20px; 
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
        }
        nav ul li a:hover{
            color: #bd67ff;
        }
/* External CSS */
/* Tugas 1 */
.external1{
    background-color: lightblue;
}
.external1 h1{
    color: navy;
    margin-left: 20px;
}

/* Tugas 2 */
.external2 h1{
    text-align: center;
}
.external2 .date{
    text-align: right;
}
.external2 .main{
    text-align: justify;
}

/* Tugas 3 */
.external3 .serif{
    font-family: "Times New Roman", Times, serif;
}
.external3 .sansserif{
    font-family: Arial, Helvetica, sans-serif;
}